body html{
    min-height:100%
}

.box{
    text-align: center;
    margin-top: 7rem;
    margin-inline: auto;
    max-width: 80%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.info{
    flex-direction: row !important;
    text-align: center;
}

.input{
   width: auto !important;
}

.progress{
    max-width: 50% !important;
    margin-left: 25%;
}

.red{
    color: red;
}

.green{
    color: green;
}

.h1{
    mix-blend-mode: normal;
    border-radius: 20px;
}

.container{
    text-align: center;
    padding-top: auto;
}

.hidden{
    display: none !important;
    transition: opacity 1s ease-out;
    opacity: 0;
}

.hidden:active{
    opacity: 1;
    display: block;
}

button{
    border: 1px solid !important;
}

button:hover{
    background-color: rgb(255, 255, 255) !important;
    color: black !important;
}
